.text-red {
    color: red;
}

.dark-mode {
    background-color: black;
    color: white;
    font-weight: bold;
}

.light-mode {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: white;

    &:hover {
        color: white;
    }
}
